#menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;

    & a {
        text-align: center;
        align-content: center;
        display: inline-block;
        cursor: pointer;
        border: 1px solid rgb(140 140 140);
        border-radius: 5vh;
        text-decoration: none;
        color: black;
        background-color: white;
        width: 50vw;
        height: 25vh;
    }
}