form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vmin;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    background-color: white;
    width: 75vw;
}

fieldset input,
fieldset select,
fieldset textarea,
fieldset a {
    padding: 3vmin;
}

.centered {
    align-items: center;
}