body {
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vmin;
}

table {
    width: 75vw;
    padding: 1vmin;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

thead,
tfoot {
    font-size: 3vmin;
}

.right {
    text-align: right;
}

.finished {
    text-align: center;
    align-content: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(140 140 140);
    border-radius: 5vmin;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 75vw;
    padding: 3vmin;
}

.no-results {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 5vmin;
    background-color: white;
    width: 50vw;
}