.prayer-results {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vmin;
}

.prayer-result {
    width: 75vw;
    padding: 1vmin;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.smaller-text {
    font-size: 3vmin;
}

.right {
    text-align: right;
}