.my-tab-list {
    position: absolute;
    top: 5vh;
}

.my-fieldset {
    position: absolute;
    top: 15vh;

    transition: opacity 0.25s ease-out;
}

.my-fieldset:not(.my-fieldset:target) {
    opacity: 0;
    z-index: -999;
}

.my-fieldset:target {
    flex-direction: column;
    justify-content: space-around;
    opacity: 1;
}