#prayer-publish {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

    & fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
        font-size: 4vmin;
        background-color: whitesmoke;
        width: 50vw;
    }

    & fieldset input,
    & fieldset select,
    & fieldset textarea,
    & fieldset a {
        font-size: 4vmin;
        padding: 3vmin;
    }
}