body {
    font-family: Arial, Helvetica, sans-serif;
}

.tab-content {
    display: none;
}

.tab-content:target {
    display: flex;
    justify-content: center;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #f9831b;
    padding: 5px;
}

table#prayer-table {
    margin: 5px;
    padding: 5px;
    border: solid black;
    border-radius: 5px;
}

table#prayer-table tfoot tr th input {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

table#prayer-table thead tr th {
    border-bottom: 1px solid rgb(140 140 140);
}

table#prayer-table tbody tr td:not(:first-child) {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

/* prayer */
table#prayer-table tbody tr:nth-child(even) td:first-child {
    padding: 10px;
}

table#prayer-table thead tr,
table#prayer-table tfoot tr,
table#prayer-table tbody tr:nth-child(odd) {
    background-color: rgb(220 220 220);
}

table#prayer-table tbody tr:hover {
    background-color: #f9831b;
}

input[type='text']:read-only,
textarea:read-only {
    font-style: italic;
    background-color: rgb(220 220 220);
}

form#prayer-form {
    margin: 5px;
    padding: 5px;
    border: solid black;
    border-radius: 5px;
}

form#prayer-form input,
form#prayer-form select,
form#prayer-form textarea,
form#prayer-form button,
form#prayer-image-form input {
    display: block;
    margin-bottom: 10px;
}

.btn {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(140 140 140);
    border-radius: 5px;
    text-decoration: none;
}

.btn-fat {
    padding: 15px;
}

.btn-med {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
}

.btn-slim {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 14em; /* 20 - "Submit".length, trying to match default input width */
}

.btn-primary {
    color: black;
    background-color: #f9831b;
}

.btn-secondary {
    color: black;
    background-color: rgb(220 220 220);
}

.btn-link {
    color: #f9831b;
    background-color: white;
}
