:root {
    --color-primary: orange;
    --color-accent: white;
    --color-accent-100: whitesmoke;

    --font-size-medium: 4vmin;
    --font-size-small: 3vmin;

    --width-main-content: 75vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 97vh;
    background-color: var(--color-accent-100);
    font-size: var(--font-size-medium);
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vmin;
}

.my-fieldset {
    width: var(--width-main-content);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    background-color: var(--color-accent);
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.my-tab-list {
    list-style: none;
    padding-inline-start: 0px;
    width: var(--width-main-content);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-accent);
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.my-tab-list-item {
    color: var(--color-primary);
    text-decoration: none;
}
.my-tab-list-item:active,
.my-tab-list-item:hover,
.my-tab-list-item:target {
    text-decoration: underline;
}

.my-input {
    padding: 3vmin;
    font-size: var(--font-size-medium);
}

.actions {
    display: flex;
    gap: 5px;
}

@media (orientation:portrait) {
    .actions {
        flex-direction: column;
    }
}

@media (orientation:landscape) {
    .actions {
        flex-direction: row;
    }
}

.btn {
    text-align: center;
    align-content: center;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3vmin;
    text-decoration: none;
    width: 100%;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.btn-primary {
    color: black;
    background-color: var(--color-primary);
}

.btn-secondary {
    color: black;
    background-color: var(--color-accent-100);
}