body {
    font-family: Arial, Helvetica, sans-serif;
}

table#prayer-table {
    margin: 5px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, .2), 0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
}

table#prayer-table thead tr th {
    border-bottom: 1px solid rgb(140 140 140);
}

/* 🙏 */
table#prayer-table tr:nth-child(2n - 1) td:first-child {
    text-align: center;
    border-right: 1px solid rgb(140 140 140);
}

/* prayer */
table#prayer-table tr:nth-child(2n) td:first-child {
    padding: 1rem;
}

table#prayer-table tr:nth-child(2n - 1) {
    background-color: rgb(220 220 220);
}

input[type='text']:read-only,
textarea:read-only {
    font-style: italic;
    background-color: rgb(220 220 220);
}

form#prayer-new {
    margin: 5px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, .2), 0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
}

form#prayer-new input,
form#prayer-new select,
form#prayer-new textarea {
    display: block;
    margin-bottom: 10px;
}

.btn {
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid rgb(140 140 140);
    text-decoration: none;
}

.btn-primary {
    color: black;
    background-color: #f9831b;
}
